<div style="font-family:Courier New; text-align: center; text-align: center;">
    <h3>Together with their parents</h3>
    <h1>Candice Lee Walkinshaw</h1>
    <h1>&</h1>
    <h1>Christopher Michael Maiser</h1>
    <h3>Request the presence of your company</h3>
    <h3>At the celebration of their marriage</h3>
    <img src='http://www.chrisandcandice.com/static/wedding/assets/img/ico/linebreak.PNG'></img>
    <h3>Saturday, the 19th of August</h3>
    <h3>Two thousand seventeen</h3>
    <h3>At 3:30 in the afternoon</h3>
    <img src='http://www.chrisandcandice.com/static/wedding/assets/img/ico/linebreak.PNG'></img>
    <h3>B Lazy 2 Ranch</h3>
    <h3>Fraser, CO</h3>
    <h3>Dinner, dancing, and outdoor games to follow.</h3>
    <br />
    <h1><b><a href="http://www.chrisandcandice.com/wedding/?household={{ uuid }}&rsvp=true">Please click here for more information and to RSVP</a></b></h1>
</div>