<div style="font-family:Courier New; text-align: center; text-align: center;">
    <h1>Chris and Candice are getting married!</h1>
    <h2>Save the Date</h2>
    <img src='http://nnagflar.pythonanywhere.com/static/wedding/assets/img/ico/linebreak.PNG'></img>
    <h2>August 19, 2017</h2>
    <h2>Fraser, CO</h2>
    <br />
    <h2>Please click the link below to confirm your email address, find out more information about the wedding, or even send us a message.</h2>
    <h2><a href="http://nnagflar.pythonanywhere.com/wedding/verifyEmail/{{ uuid }}">Confirm {{ email }} for {{ name }}</a> </h2>
</div>
