<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/wedding/assets/img/ico/favicon.png">
    <!--
    <link rel="apple-touch-icon" sizes="144x144" href="/static/wedding/assets/img/ico/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/wedding/assets/img/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/wedding/assets/img/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="/static/wedding/assets/img/ico/apple-touch-icon-57x57.png">
     -->

    <title>Chris & Candice</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/wedding/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/wedding/assets/css/animate.css" rel="stylesheet">
    <link href="/static/wedding/assets/css/plugins.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/wedding/assets/css/style.css" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/wedding/assets/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/wedding/assets/css/pe-icons.css" rel="stylesheet">

</head>

<body id="page-top" class="index">

    <div class="master-wrapper">

        <div class="preloader">
            <div class="preloader-img">
            	<span class="loading-animation animate-flicker"><img src="/static/wedding/assets/img/loading.GIF" /></span>
            </div>
        </div>

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top fadeInDown">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-navigation">
                    <ul class="nav navbar-nav text-center">

                        <li><a href="#wedding-date" class="page-scroll smoothie">When</a></li>
                        <li><a href="#location" class="page-scroll smoothie">Where</a></li>
                        <li><a href="#accommodation" class="page-scroll smoothie">Stay</a></li>
                        <li><a class="navbar-brand smoothie" href="/wedding/">Chris & Candice</a></li>
                        <li><a href="#wellWishes" class="page-scroll smoothie">Well Wishes</a></li>
                        <li><a href="#gifts" class="page-scroll smoothie">Registry</a></li>
                        <li><a href="#rsvp" class="page-scroll smoothie">RSVP</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header id="headerwrap" class="backstretched fullheight">
            <canvas id="fettiwrap"></canvas>
            <div class="container vertical-center">
                <div class="intro-text vertical-center text-center smoothie">
                    <!--
                    <div class="intro-heading wow fadeIn heading-font"><span class="secondary-font">8/19/2017</span></div>
                    -->
                </div>
            </div>
        </header>

        <section id="welcome">
            <!--<div class="section-inner">-->

                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center mb100 wow fadeIn">
                            <h2 class="section-heading">Chris and Candice</h2>
                            <img src="/static/wedding/assets/img/ico/linebreak.PNG" />
                            <h3 class="section-subheading secondary-font">Join us on our special day.</h3>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1 wow fadeIn">
                        	<img src="/static/wedding/assets/img/him.jpg" class="img-responsive mb30 ">
                            <p class="text-center">Chris</p>
                        </div>

    					<div class="col-md-5 wow fadeIn">
    						<img src="/static/wedding/assets/img/her.jpg" class="img-responsive mb30">
    					    <p class="text-center">Candice </p>
    					</div>
                    </div>
                </div>

            <!--</div>-->
        </section>
        <!--

        -->
     	<section id="wedding-date"class="light-wrapper mb100" style="background:#ffffff url('/static/wedding/assets/img/bg/48.jpg') no-repeat center; color:#ffffff">
            <div class="section-inner">
                <div class="wow fadeIn">
    				<div class="container text-center mt120">
    					<div class="row">
    						<div class="col-xs-12" role="tabpanel">
                                <div class="row">
        				            <div class="col-xs-8 col-sm-12 mt60">
        				                <!-- Tab panes -->
        				                <div class="tab-content" id="tabs-collapse">
        				                    <div role="tabpanel" class="tab-pane fade in active" id="when">
        				                        <div class="tab-inner">
        				                            <p class="lead secondary-font">19&nbsp;August&nbsp;2017</p>
        				                        </div>
        				                        <div class="tab-inner">
        				                            <p class="h1 secondary-font">Ceremony&nbsp;at&nbsp;3:30&nbsp;PM</p>
        				                            <p class="h1 secondary-font">reception&nbsp;to&nbsp;follow</p>
        				                            <p class="h1 secondary-font" id="daysUntil"></p>
        				                        </div>
        				                    </div>
        				                </div>
        				            </div>
                                </div>
    				        </div>
    					</div>
    				</div>
    			</div>
            </div>
        </section>
        <section id="wellWishes" class="dark-wrapper opaqued" data-parallax="scroll" data-speed="0.7">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center mb100 wow fadeIn">
                            <h2 class="section-heading">Well Wishes</h2>
                            <img src="/static/wedding/assets/img/ico/linebreaknegative.png" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center mb100 wow fadeIn">
                            <h2 id="wellWishesControl" class="lead">Please click the link in your custom Save the Date email to add a message</h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">

                            <ul id="owl" class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="1" data-items-desktop="[1200,1]" data-items-desktop-small="[980,1]" data-items-tablet="[768,1]" data-items-mobile="[479,1]">
                                {% for comment in comments %}
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-10 col-xs-offset-1 item-caption">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <p class="lead">{{ comment.commentText }}</p></p>
                                                        <p class="lead secondary-font">{{ comment.commentFrom }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="gifts">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="section-heading">Gift Registration</h2>
                            <img src="/static/wedding/assets/img/ico/linebreak.PNG" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3 wow fadeIn text-center">
                            <a href="https://www.amazon.com/wedding/share/chrisandcandice" target="_blank">
                                <img src="/static/wedding/assets/img/registry/1.1registry.png" />
                            </a>
                        </div>
                        <div class="col-md-3 wow fadeIn text-center">
                            <a href="https://www.anthropologie.com/registry/listing?registryId=NJVHM2U0MDI0" target="_blank">
                                <img src="/static/wedding/assets/img/registry/2registry.jpg" />
                            </a>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3 wow fadeIn text-center">
                            <a href="http://www.crateandbarrel.com/gift-registry/candice-walkinshaw-and-christopher-maiser/r5627622" target="_blank">
                                <img src="/static/wedding/assets/img/registry/3registry.gif" />
                            </a>
                        </div>
                        <div class="col-md-3 wow fadeIn text-center">
                            <a href="https://www.honeyfund.com/wedding/Rhymeswithlaser" target="_blank">
                                <img src="/static/wedding/assets/img/registry/4registry.png" />
                            </a>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="rsvp" class="white-wrapper">
            <div class="container" id="rsvpPersonContainer">

                <div id="unknownRsvp" class="row">
                    <div class="col-md-12 text-center">
                        <h4 class="footer-goodbye">We look forward to seeing you!</h4>
                        <img src="/static/wedding/assets/img/ico/linebreak.PNG" />
                    </div>

                    <div class="col-md-12 text-center">
                        <p class="lead">Please click on your custom link provided in your email invitation to RSVP.</p>
                    </div>
                </div>

                <div id="knownRsvp" class="row hidden">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading">RSVP</h2>
                        <img src="/static/wedding/assets/img/ico/linebreak.PNG" />
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modaltitle">Modal Header</h4>
                </div>
                <div class="modal-body" id="modalcontainer">

                    <div class="row">
                        <div class="col-md-12">
                             <textarea id="messageBox" maxlength="500" style="width: 98%;padding:1%;" onkeyup="updateComment(event, ' + i + ')" ></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success" onClick="saveHousehold(null)">Save</button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/wedding/assets/js/jquery.js"></script>
    <script src="/static/wedding/assets/js/bootstrap.min.js"></script>
    <script src="/static/wedding/assets/js/plugins.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="/static/wedding/assets/js/init.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <!-- http://www.bootstraptoggle.com/ -->
    <script src="/static/wedding/assets/js/cm.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
    $(document).ready(function(){
       'use strict';
        jQuery('#headerwrap').backstretch([
          "/static/wedding/assets/img/bg/bg1.jpg",
          "/static/wedding/assets/img/bg/bg2.jpg",
          "/static/wedding/assets/img/bg/bg3.jpg",
          "/static/wedding/assets/img/bg/bg4.jpg",
          "/static/wedding/assets/img/bg/bg5.jpg",
          "/static/wedding/assets/img/bg/bg6.jpg",
          "/static/wedding/assets/img/bg/bg7.jpg",
          "/static/wedding/assets/img/bg/bg8.jpg",
          "/static/wedding/assets/img/bg/bg9.jpg"
        ], {duration: 8000, fade: 500});
    });
    </script>

</body>

</html>